<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CarWorkshop_v4/src/uo/ri/ui/cash/MainMenu.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uo.ri.ui.cash.MainMenu"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CarWorkshop_v4"/>
</launchConfiguration>
